In [40]:
import sqlite3

# sqlite3

## Connection à la base

In [41]:
conn = sqlite3.connect('data/jukebox.sqlite')
c = conn.cursor()

## Fetchall basique

In [42]:
c.execute("SELECT * FROM albums LIMIT 10")
rows = c.fetchall()
rows #liste de tupple #liste vide si rien

[(1, 'For Those About To Rock We Salute You', 1),
 (2, 'Balls to the Wall', 2),
 (3, 'Restless and Wild', 2),
 (4, 'Let There Be Rock', 1),
 (5, 'Big Ones', 3),
 (6, 'Jagged Little Pill', 4),
 (7, 'Facelift', 5),
 (8, 'Warner 25 Anos', 6),
 (9, 'Plays Metallica By Four Cellos', 7),
 (10, 'Audioslave', 8)]

## Fetchone basique

In [44]:
c.execute("SELECT * FROM albums LIMIT 1")
rows = c.fetchone()
rows #tupple #None si rien

(1, 'For Those About To Rock We Salute You', 1)

## Row Factory : permet de sléectionner les items par nom de colonne

In [37]:
conn.row_factory = sqlite3.Row #cellule qui active le row factory et permet la séleciton par nom de colonne
c = conn.cursor()

## Fetchall

In [32]:
c.execute("SELECT * FROM albums")
rows = c.fetchall()
first_row = rows[0]
first_row

In [33]:
first_row = rows[0]
first_row['title']

'For Those About To Rock We Salute You'

 ## Fetchone

In [36]:
c.execute("SELECT * FROM albums WHERE albums.id = 1") #si row_factory actif, renvoie un objet row_factory
row = c.fetchone()
row

In [35]:
row['title']

'For Those About To Rock We Salute You'

# SQL

## Projection

In [47]:
c.execute("""SELECT al.id, al.title 
             FROM albums AS al
             LIMIT 5""") 
row = c.fetchall()
row

[(1, 'For Those About To Rock We Salute You'),
 (2, 'Balls to the Wall'),
 (3, 'Restless and Wild'),
 (4, 'Let There Be Rock'),
 (5, 'Big Ones')]

## Selection

In [51]:
c.execute("""SELECT *
             FROM albums AS al
             WHERE al.id IN (20)""") #NOT IN pour n'est pas dans la liste
row = c.fetchall()
row

[(20, 'The Best Of Buddy Guy - The Millenium Collection', 15)]

In [56]:
c.execute("""SELECT *
             FROM albums AS al
             WHERE UPPER(al.title) LIKE '% OF %'""") #si row_factory actif, renvoie un objet row_factory
row = c.fetchall()
row

[(11, 'Out Of Exile', 8),
 (13, 'The Best Of Billy Cobham', 10),
 (20, 'The Best Of Buddy Guy - The Millenium Collection', 15),
 (38, 'Heart of the Night', 53),
 (47, 'The Best of Ed Motta', 37),
 (61, "Knocking at Your Back Door: The Best Of Deep Purple in the 80's", 58),
 (72, 'The Cream Of Clapton', 81),
 (74, 'Album Of The Year', 82),
 (83, 'My Way: The Best Of Frank Sinatra [Disc 1]', 85),
 (94, 'A Matter of Life and Death', 90),
 (98, 'Dance Of Death', 90),
 (99, 'Fear Of The Dark', 90),
 (106, 'Piece Of Mind', 90),
 (110, 'Seventh Son of a Seventh Son', 90),
 (112, 'The Number of The Beast', 90),
 (118, 'The Return Of The Space Cowboy', 92),
 (129, 'Houses Of The Holy', 22),
 (146, 'Seek And Shall Find: More Of The Best (1963-1981)', 104),
 (147, 'The Best Of Men At Work', 105),
 (152, 'Master Of Puppets', 50),
 (160, 'Ace Of Spades', 106),
 (163, 'From The Muddy Banks Of The Wishkah [Live]', 110),
 (171, 'Blizzard of Ozz', 114),
 (172, 'Diary of a Madman (Remastered)', 114),
 (183, 'Dark Side Of The Moon', 120),
 (186, 'News Of The World', 51),
 (187, 'Out Of Time', 122),
 (190, 'The Best Of R.E.M.: The IRS Years', 124),
 (213,
  'Pure Cult: The Best Of The Cult (For Rockers, Ravers, Lovers & Sinners) [UK]',
  139),
 (221, 'My Generation - The Very Best Of The Who', 144),
 (238, 'The Best Of 1980-1990', 150),
 (241, 'UB40 The Best Of - Volume Two [UK]', 151),
 (243, 'The Best Of Van Halen, Vol. I', 152),
 (256, 'Speak of the Devil', 114),
 (257,
  '20th Century Masters - The Millennium Collection: The Best of Scorpions',
  179),
 (258, 'House of Pain', 180),
 (265, 'Every Kind of Light', 200),
 (268, 'The Best of Beethoven', 203),
 (269, 'Temple of the Dog', 204),
 (272, 'Adorate Deum: Gregorian Chant from the Proper of the Mass', 206),
 (280, 'The World of Classical Favourites', 214),
 (290, 'The Last Night of the Proms', 224),
 (305, 'Great Recordings of the Century - Mahler: Das Lied von der Erde', 240),
 (319, 'Armada: Music from the Courts of England and Spain', 251),
 (339, "Great Recordings of the Century: Paganini's 24 Caprices", 268),
 (341,
  'Great Recordings of the Century - Shubert: Schwanengesang, 4 Lieder',
  270),
 (343, 'Respighi:Pines of Rome', 226)]

## Counting & Sorting & Grouping

### HAVING

In [67]:
c.execute("""SELECT album_id, name, COUNT(*) as album_id_count
             FROM tracks
             GROUP BY album_id
             HAVING album_id_count > 25       
             ORDER BY album_id_count DESC """) # On utilise HAVING à la place de WHERE lorsque la colonne est construite dynamiquement
row = c.fetchall()
row

[(141, 'Are You Gonna Go My Way', 57),
 (23, 'Carolina', 34),
 (73, 'Signe', 30),
 (229, 'A Tale of Two Cities', 26)]

### CASE WHEN

In [68]:
c.execute("""SELECT 
             COUNT(*) as album_id_count, genre_id,
             CASE 
                 WHEN genre_id = 1
                     THEN 'Rock'
                 WHEN genre_id = 2
                     THEN 'Jazz'
                 WHEN genre_id > 2 AND genre_id < 6
                     THEN 'Super genre'
                 ELSE 'Autre'
             END AS outcome
             FROM tracks
             GROUP BY outcome
             ORDER BY album_id_count DESC""")
row = c.fetchall()
row

[(1358, 6, 'Autre'),
 (1297, 1, 'Rock'),
 (718, 3, 'Super genre'),
 (130, 2, 'Jazz')]

### JOIN

In [72]:
c.execute("""SELECT albums.id, COUNT(tracks.album_id) as count_col
             FROM albums
             JOIN tracks ON albums.id = tracks.album_id
             GROUP BY albums.id
             ORDER BY count_col DESC
             LIMIT 5""")
row = c.fetchall()
row

[(141, 57), (23, 34), (73, 30), (229, 26), (251, 25)]

# Advanced SQL